<template name="faq">
	

	<!-- Begin page content -->
	{{> navBar}}
	<div class="container" style = "margin-top: 65px;">
		<div style="height: 650px; overflow-y: scroll;overflow-x: hidden">
			<div class="container">
				<div class="panel-group">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								{{_ "purchasingProcess"}}
							</h4>
						</div>
						<div class="panel-body">
							<ol type="1">
								<li>{{_ "purchasingProcessComments1"}}</li>
								<li>{{_ "purchasingProcessComments2"}}</li>
								<li>{{_ "purchasingProcessComments3"}}</li>
								<li>{{_ "purchasingProcessComments4"}}</li>
								<li>{{_ "purchasingProcessComments5"}}</li>
							</ol> 
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								{{_ "shippingNDelivery"}}
							</h4>
						</div>
						<div class="panel-body">
							{{_ "shippingNDeliveryComments"}}
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								{{_ "paymentNReturns"}}
							</h4>
						</div>
						<div class="panel-body">
							{{_ "paymentNReturnsComments"}}
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								{{_ "termsNConditions"}}
							</h4>
						</div>
						<div class="panel-body">
							{{_ "termsNConditionsComments"}}
						</div>
					</div>


				</div>
			</div>

		</div>
	</div>
	<div class="footer">
		{{>footer}}
	</div>
</template>
