<template name="home">
	
	{{> header}}
	<body>
		{{> navBar}}

		<div class="container">
            <div class="col-lg-12">
                <h3>{{_ "products"}}</h3>
            </div>
        </div>
        <div class=" container text-center">
        	{{> products}}
        <hr>
        </div>

        <div class="container">
            <div class="col-lg-12">
                <h3>{{_ "recomendations"}}</h3>
            </div>
        </div>
        <div class=" container text-center">
        	{{> recommendations}}
        <hr>
        </div>

		
	{{> footer}}
	</body>
</template>