<template name="orderItem">
  <div class = "row">
    <div class="col-lg-2 col-md-2 col-sm-2">
      <a href="/product/{{productCode}}">
        <picture>
          <!--Imagen de la base de datos-->
          <source
          media="(min-width: 150px)"
          srcset={{image}}>
          <!--Imagen por defecto-->
          <img
          src="images/no-img.png"
          alt="image not found">
        </picture>
      </a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="col-lg-2 col-md-2 col-sm-2"><b>{{_ "name"}}:</b></div>
        <div class="col-lg-10 col-md-10 col-sm-10">{{name}}</div>
        <div class="col-lg-2 col-md-2 col-sm-2"><b>{{_ "price"}}:</b></div>
        <div class="col-lg-10 col-md-10 col-sm-10"><p>EUR <span id="cost">{{cost}}</span></p></div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      
      <div class="col-lg-2 col-md-2 col-sm-2"><b>{{amount}}</b></div>
      
      <div class="col-lg-4 col-md-4 col-sm-4"><big>{{total}}</big></div>
    </div>
    
  </div>
</template>