<template name="analyticsStatistics">
	<head>
		<script src="http://code.highcharts.com/highcharts.js"></script>
	</head>
	
	<div class="container" style="margin-top:10px">
		<div class='col-lg-3 col-md-3 col-sm-3'>
	        <div class="form-group">
	            <label>{{_ "admin_dates"}}</label>
	        </div>
	    </div>


	    <div class='col-lg-3 col-md-3 col-sm-3'>
	        <div class="form-group">
	            <div class='input-group date' id='datetimepickerStart'>
	                <input type='text' class="form-control" placeholder="mm/dd/yyyy" id='start' />
	                <span class="input-group-addon">
	                    <span class="glyphicon glyphicon-calendar"></span>
	                </span>
	            </div>
	        </div>
	    </div>


	    <div class='col-lg-3 col-md-3 col-sm-3'>
	        <div class="form-group">
	            <div class='input-group date' id='datetimepickerEnd'>
	                <input type='text' class="form-control" placeholder="mm/dd/yyyy" id='end'/>
	                <span class="input-group-addon">
	                    <span class="glyphicon glyphicon-calendar"></span>
	                </span>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="container">
		<div class="col-lg-6 col-md-6 col-sm-6">
			<h2>{{_ "admin_products"}}</h2>
  			
  			{{>pages}}
			
			{{> pagesNav}}

			{{>productsSelect}}
			<button id = "charts" class="btn showPopu btn-sm btn-primary" disabled>{{_ "admin_button_charts"}}</button>
			<button id = "report" class="btn btn-sm downloadPDF btn-primary" disabled>{{_ "admin_button_reports"}}</button>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6">
			<h2>{{_ "admin_statistics"}}</h2>
			<div id="populChart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
			<div id="salesChart" class="myChart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  			
			
		</div>
		
	</div>

</template>

<template name="productAdmin">
  	<div class="showProduct col-lg-12 col-md-12 col-sm-12"><h4 style="color:darkblue">{{name}}</h4></div> 
</template>

<template name="productsSelect">
	<h1>{{_ "admin_products_selected"}}</h1>
  	{{#each listProducts}}
  	<li>
      <button class="btn listExRemove btn-danger" title="Remove this name">x</button> {{dataPopu.name}}
    </li>
    {{/each}}
</template>