@import url('https://fonts.googleapis.com/css?family=Lato|Lato');
/*!

*/

ul
{
    list-style-type: none;
    padding: 1em 1em;
}

legend.scheduler-border {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}
.grill{
    width: 300px;
    height: 500px;
    overflow: auto;
}
.bot{
  position:absolute;
  bottom:0;
  width:100%;
}

.margin-top{
	margin-top: 100px;
}
.margin-bottom{
	margin-bottom: 50px;
}
#container {
   min-height:100%;
   position:relative;
}
#header {
   background:#ff0;
   padding:10px;
}
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;
}

#cost{
  color: red;
}
#name{
  color: blue;
}
.down61px{
  margin-top: 61.5px;
}
.up61px{
  margin-top: 61.5px;
}