@import url('https://fonts.googleapis.com/css?family=Lato|Lato');
/*!

*/

ul
{
    list-style-type: none;
    padding: 1em 1em;
}

legend.scheduler-border {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}
.grill{
    width: 300px;
    height: 500px;
    overflow: auto;
}
.bot{
  width:100%;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.bubble-comment {
  border-radius: 10px;
  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  border: 5px solid #6e549e;
  margin-top: 10px;
}

.bubble-descript {
  padding: 15px;
  font-size: 18px;
  border-radius: 10px;
  background-color: #f0efed;
}
.bubble-title {
  font-size: 28px;
  border-radius: 10px;
}
.email-comment{
  color: blue;
  font-family: sans-serif; 
}
.date-comment{
  font-family: monospace; 
}

/* Sticky footer styles
-------------------------------------------------- */


.margin-top{
	margin-top: 100px;
}
.margin-bottom{
	margin-bottom: 50px;
}

#cost{
  color: red;
}
#name{
  color: blue;
}
.down61px{
  margin-top: 61.5px;
}
.up61px{
  margin-top: 61.5px;
}

hr.style-four {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
div.orderLegend {
    border:1px solid black;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
}