<template name="updateProfile">
	{{> header}}
	<body>
		{{> navBar}}
		<!-- {{> quickForm schema="Schema.profileData" doc=profile id="updateProfileData" type="method" meteormethod="updateProfile"}} -->
		<div class="container">
			<div class="col-lg-12 col-md-12 col-sm-12">
				{{#autoForm schema="Schema.profileData" doc=currentUser id="updateProfileData" type="method" meteormethod="updateProfile"}}
					<fieldset>
						<legend>{{_ "profile_name"}}</legend>
						{{> afQuickField name='name'}}
						{{> afQuickField name='surname'}}
						<div class="row container" style="padding-left: 0px;">
							<div class="col-lg-6 col-md-6 col-sm-6">
								{{> afQuickField name='address'}}
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6" style="margin-left: -15px;">
								{{> afQuickField name='creditCard'}}
							</div>
						</div>
					</fieldset>
					<button type="submit" class="btn btn-primary btn-lg glyphicon glyphicon-edit">  {{_ "profile_update"}}</button>
				{{/autoForm}}
			</div>
		</div>
		
		{{> footer}}
	</body>
</template>

<template name="getProfile">
	{{> header}}
	<body>
		{{> navBar}}
		<div class="container">
			<div class="col-lg-12 col-md-12 col-sm-12">
				{{#each userDetails}}
			      {{> userDetail}}
			    {{/each}}
			</div>
		</div>
		<fieldset class="container down61px">
		  <legend>{{_ "comments"}}</legend>
		  
		  	{{#autoForm collection="SupplierComments" id="insertSupplierComments" type="insert"}}
		    	<fieldset>
			      {{> afQuickField name='title'}}
			      {{> afQuickField name='description' rows=6}}
		   		</fieldset>
		    	<button type="submit" class="btn btn-primary">{{_ "send"}}</button>
	  		{{/autoForm}}
		 

		  	<div class="container">
			    {{#each comments}}
			      {{> comment}}
			    {{/each}}
			</div>

		</fieldset>
		
		{{> footer}}
	</body>
</template>
<template name="userDetail">

	<div class="row container">
		<fieldset class="col-lg-6 col-md-6 col-sm-6">
			<legend>{{_ "dataUser"}}</legend>
			<div class="col-lg-3 col-md-3 col-sm-3">
				<h3>{{_ "name"}}</h3>
				<h3>{{_ "surname"}}</h3>
				<h3>{{_ "login_email"}}</h3>
				<h3>{{_ "level_quality"}}</h3>
			</div>
			<div class="col-lg-9 col-md-9 col-sm-9">
				<h3>{{name}}</h3>
				<h3>{{surname}}</h3>
				<h3>{{emails.[0].address}}</h3>
				<div class="rateit" data-rateit-value="{{rating}}" data-rateit-ispreset="true" data-rateit-readonly="true" style="padding-top: 30px;"></div>
			</div>
			
		</fieldset>
		<fieldset class="col-lg-6 col-md-6 col-sm-6">
			<legend>{{_ "address"}}</legend>
			<div class="col-lg-3 col-md-3 col-sm-3">
				<h3>{{_ "address"}}</h3>
				<h3>{{_ "number"}}</h3>
				<h3>{{_ "postalCode"}}</h3>
			</div>
			<div class="col-lg-9 col-md-9 col-sm-9">
				<h3>{{address.name}}</h3>
				<h3>{{address.number}}</h3>
				<h3>{{address.postalCode}}</h3>
			</div>
			
		</fieldset>
	</div>
	

</template>