<template name="allProducts">
	{{> header}}

	{{> navBar}}

	
  <div class ="container">
    <h1>{{_ "listProduct"}}</h1>
    <nav class="navbar navbar-default">
      <div class="col-md-4 col-sm-4 hero-feature">
        Price: <a href="/"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
      <a href="/"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></a>
      </div>
      <div class="col-md-4 col-sm-4 hero-feature">
        Rating: <a href="/"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
        <a href="/"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></a>
      </div>
      <div class="col-md-4 col-sm-4 hero-feature">
        Tags: {{tags}}
      </div>
    </nav>
    <div class="col-lg-12 col-md-12 col-sm-12">
      {{> pages}}

    </div>
    {{> pagesNav}}
  </div>
	

	{{> footer}}
</template>

<template name="allProductsDetails">
	
	<div class="col-md-3 col-sm-6 hero-feature">
    <div class="thumbnail">
        <a href="/product/{{code}}">
          <picture>
            <source
              media="(min-width: 150px)"
              srcset={{image}}>
            <img
              src="images/no-img.png"
              alt="image not found">
          </picture>
        </a>
        <div class="caption">
            <h3>{{name}}</h3>
            <div class="rateit" data-rateit-value="{{rating}}" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
            <p>{{_ "price"}}: EUR <big id="cost">{{cost}}</big></p>
            <p>
                <button type="button" class="btn btn-success idAddCart"> <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>  {{_ "addCart"}}</button> <a href="/product/{{code}}" class="btn btn-default">More Info</a>
            </p>
        </div>
    </div>
  </div>
</template>