<template name="productFormDetail">
  <div class = "container">
    <div class="col-lg-2 col-md-2 col-sm-2">
      <a href="/product/{{code}}">
        <picture>
          <!--Imagen de la base de datos-->
          <source
            media="(min-width: 150px)"
            srcset={{image}}>
            <!--Imagen por defecto-->
          <img
            src="images/no-img.png"
            alt="image not found">
        </picture>
      </a>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8">
        <h3 id="name">{{name}}</h3> <HR width="100%" align="center" size="20" style="color: #6E6E6E;" >
        <h4>{{_ "price"}}: EUR  <big id="cost">{{cost}}</big></h4>
        <h4 id="description">{{description}}</h4>
    </div>
    <div class="col-lg-2col-md-2 col-sm-2 margin-top">
        <div class="rateit idRatingProduct" data-rateit-value="{{value}}" id="inputRating"></div>
        <div ><a href="/getProfile/{{supplierId}}">Supplier</a></div>
       
        <button type="button" class="btn btn-success idAddCart btn-lg" style="margin-top:32px"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>   {{_ "addCart"}}</button>
    </div>
  </div>
</template>