<template name="product">
  <div class="col-lg-3 col-md-4 col-xs-6 grill thumb hero-feature">
    <div class="thumbnail">
        <a href="/product/{{code}}" style="height: 133px;">
          <picture>
            <source
              media="(min-width: 150px)"
              srcset={{image}}>
            <img
              src="images/no-img.png"
              alt="image not found">
          </picture>
        </a>
        <div class="caption">
            <h3 style="height: 190px; text-align: left;">{{name}}</h3>
            <div class="rateit" data-rateit-value="{{rating}}" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
            <p>{{_ "price"}}: EUR <big id="cost">{{cost}}</big></p>
            <p>
                <button type="button" class="btn btn-success idAddCart"> <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>  {{_ "addCart"}}</button> <a href="/product/{{code}}" class="btn btn-default">Info</a>
            </p>
        </div>
    </div>
  </div>
</template>

