<template name="productFormDetail">
  <tbody class = "container">
    <td class="col-lg-2 col-md-2 col-sm-2">
      <a href="/product/{{code}}">
        <picture>
          <!--Imagen de la base de datos-->
          <source
            media="(min-width: 150px)"
            srcset={{image}}>
            <!--Imagen por defecto-->
          <img
            src="images/no-img.png"
            alt="image not found">
        </picture>
      </a>
    </td>
    <td class="col-lg-8 col-md-8 col-sm-8">
      <tr>
        <td><h2>{{_ "name"}}:&nbsp;&nbsp;</h2></td>
        <td><h3>{{name}}</h3></td>
      </tr>
      <tr>
        <td><h2>{{_ "price"}}:&nbsp;&nbsp;</h2></td>
        <td><h3>{{cost}}</h3></td>
      </tr>
      <tr>
        <td><h2>{{_ "description"}}:&nbsp;&nbsp;</h2></td>
        <td><h3>{{description}}</h3></td>
      </tr>
    </td>
    <td class="col-lg-2col-md-2 col-sm-2">
      <div >
        <div class="rateit idRatingProduct" data-rateit-value="{{value}}" id="inputRating"></div>
       
        <button type="button" class="btn btn-success idAddCart btn-lg" style="margin-top:32px">{{_ "addCart"}}</button>
      </div>
    </td>
  </tbody>
</template>