<template name="shoppingCart">
	

	<!-- Begin page content -->
	{{> navBar}}
	<div class="container" style = "margin-top: 65px;">
		<div class="fileinputs">
			<input type="file" class="file_bag" />
			<div class="fakefile">
			<button type="button" class="btn btn-info">
          <span class="glyphicon glyphicon-send"></span> {{_ "uploadPImg"}}
        </button>
			</div>
		</div>
		<div style="height: 600px; overflow-y: scroll;overflow-x: hidden">
			{{#each item}}
			{{> shoppingCartItem}}
			{{/each}}
		</div>
		<div class = "row" style="margin-top:32px"><button type="button" class="btn btn-success idConfirmCart btn-lg pull-right" >{{_ "purchase"}}</button>
		</div>
	</div>
	<div class="footer">
		{{>footer}}
	</div>


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug 
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
	{{> navBar}}
	<div class="container" style = "margin-top: 65px;">
			{{#each item}}
				{{> shoppingCartItem}}
			{{/each}}
		
		<div class = "row" style="margin-top:32px"><button type="button" class="btn btn-success idConfirmCart btn-lg pull-right" >{{_ "purchase"}}</button></div>
	</div>

	<div class="footer">{{>footer}}</div>-->
</template>
